body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #d7f3ff, #a7c1d9);
  color: #222;
}

header {
  background: #1c3b57;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.container {
  width: 85%;
  margin: auto;
  padding: 20px;
  background: rgba(255,255,255,0.7);
  border-radius: 12px;
  margin-top: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

button {
  padding: 12px 20px;
  font-size: 17px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #094b9a;
}

input, select {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #999;
  margin-bottom: 15px;
}
